::-webkit-scrollbar{
    width: 8px
}

::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: darkred;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(73, 50, 50);
}

::-webkit-scrollbar-track{
    background-color: seashell;
}