@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Chillax";
  src: url(../src/assets/font/Chillax-Regular.otf);
}
@font-face {
  font-family: "ClashDisplay";
  src: url(../src/assets/font/ClashDisplay-Variable.ttf);
}
@font-face {
  font-family: "Switzer";
  src: url(../src/assets/font/Switzer-Variable.ttf);
}
@font-face {
  font-family: "GeneralSans";
  src: url(../src/assets/font/GeneralSans-Variable.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../src/assets/font/Quicksand-Variable.ttf);
}
@font-face {
  font-family: "Satoshi";
  src: url(../src/assets/font/Satoshi-Variable.ttf);
}

@theme{
  --font-anuphan: "Anuphan", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-chillax: "Chillax", sans-serif;
  --font-clashdisplay: "ClashDisplay", sans-serif;
  --font-switzer: "Switzer", sans-serif;
  --font-generalsans: "GeneralSans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  --color-red1: #CECCCC;
  --color-red2: #FF7779;
  --color-red3: #FF4C51;
  --color-red4: #E37D7B;
  --color-red5: #CD3D49;
}

